{% extends "BCLActivityBundle::activityBundle.html.twig" %}
{% block title %}
    New Future Activity
{% endblock %}
{% block activity %}

    <article>
        <div  class="col-md-12">
                <h1 class="col-md-10 col-md-offset-1 proposalform-title">Future Activity Form</h1>
            {{ form_start(form, {'attr': {'class': 'form-group'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}
                    <div class=" row col-md-8 col-md-offset-2">
                        <div>
                            {{ form_label(form.name, "Activity Name") }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control activity-info1'}}) }}

                        </div>
                        <div>
                            {{ form_label(form.description, "Description") }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control activity-info1', 'rows': '6'}}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_label(form.dateCloseVote, "Vote Deadline") }}
                            {{ form_widget(form.dateCloseVote, {'attr': {'class': 'form-control activity-info'}}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_label(form.dateCloseSubscribe, "Registration Deadline") }}
                            {{ form_widget(form.dateCloseSubscribe, {'attr': {'class': 'form-control activity-info'}}) }}
                        </div>
                        {#<div class="row">
                            <div class="col-sm-4">
                                date option 1:
                                <input type="date" name="dateoption1" class="form-control activity-date-info" >
                            </div>
                            <div class="col-sm-4">
                                date option 2:
                                <input type="date" name="dateoption2" class="form-control activity-date-info" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                date option 3:
                                <input type="date" name="dateoption3" class="form-control activity-date-info" >
                            </div>
                            <div class="col-sm-4">
                                date option 4:
                                <input type="date" name="dateoption4" class="form-control activity-date-info" >
                            </div>
                        </div>#}
                        <div>
                            <label class="custom-file" >
                                {{ form_label(form.urlPicture, "Url of the activity Picture") }}
                                {{ form_widget(form.urlPicture, {'attr': {'class' : 'custom-file-input'}}) }}
                                <span class="custom-file-control"></span>
                            </label>
                        </div>
                        <div>
                            {{ form_widget(form.validate, {'attr': {'class': 'btn btn-primary' }}) }}
                        </div>
                    </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        <div class="row col-md-12 back-button-block2">
            <div class="col-md-4">
                <a href="{{ path('bcl_activity_futuractivities',{'page':1}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Back to Future Activities
                </a>
            </div>
        </div>
    </article>

{% endblock %}