{% extends "BCLActivityBundle::activityBundle.html.twig" %}

{% block title %}
    Past Activities Example
{% endblock %}

{% block activity %}

    <div class="row">
        <article class="col-xs-10 col-xs-offset-1 activity-exemple-article">
            <div class="row activity-exemple-block" >
                <div class="col-md-2 activity-exemple-part" >
                    <img src="{{ pastActivity.urlPicture }}" alt="activity presentation" class="img-responsive img-activity-exemple">
                </div>
                <div class="col-md-8">
                    <h2 class="col-md-12 description-title">{{ pastActivity.name }}</h2>
                    <h3 class="col-md-12 "></h3>
                    <p class="col-md-12">{{ pastActivity.description }}
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="row gallery-block">
        <article class="col-xs-10 col-xs-offset-1">
            <div class="row gallery-block">
                <h1 class="col-md-12 gallery-title">Gallery</h1>
            </div>
            <div class="row">
                {{ include("BCLActivityBundle:Activity:photo.html.twig") }}
                <div class="col-md-6 activity-exemple-block">
                    {% if images != null %}
                        {% set nbArticle = 4 %}
                    {% for Picture in images %}
                        {% if loop.index0 % nbArticle == 0 %}
                            <div class="row gallery-block">
                        {% endif %}

                            <div class="col-xs-3">
                                <img src="{{ Picture.urlPicture }}" alt="Picture name" class="img-responsive img-gallery " onclick="window.location='{{ path('bcl_activity_pastActivity',{'id': pastActivity.id,'id2': Picture.id}) }}'"/>
                            </div>
                                {% if (loop.index0 % nbArticle == nbArticle - 1 or loop.last) %}
                                    </div>
                                {% endif %}
                    {% endfor %}
                    {% endif %}

                    <div class="row add-img-part">
                        <div class="col-xs-5 col-xs-offset-7">
                            {{ form_start(form) }}

                            {{ form_errors(form) }}

                            {{ form_label(form.urlPicture, "Url of Picture") }}
                            {{ form_widget(form.urlPicture, {'attr': {'class': 'form-control'}}) }}

                            {{ form_widget(form.add, {'attr': {'class': 'btn btn-primary validate'}}) }}


                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 back-button-block2">
                    <div class="col-md-4">
                        <a href="{{ path('bcl_activity_pastActivities',{'page': 1}) }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Back to Past Activities
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
