
{% extends "BCLActivityBundle::activityBundle.html.twig" %}

{% block title %}
 	Past Activities
{% endblock %}
	
{% block activity %}
	<div class="row">
		<h1 class="col-md-12 board-title">Past Activities</h1>
	</div>

	{% for activity in pastActivities %}
		<div class="row">
				<article class="col-xs-10 col-xs-offset-1 activity-article">
					<div class="row" >
						<div class="col-md-2 " >
							<h2 class=" date">{% if activity.dateF %}{{ activity.dateF }}{% endif %}</h2>
						</div>
						<div class="col-md-10 description">
							<h2 class="col-md-12 description-title">{{ activity.name }}</h2>
							<p class="col-md-12">{{ activity.description }}
							</p>
						</div>
					</div>
					<button class="row col-md-2 col-md-offset-10 btn btn-primary" onclick="window.location='{{ path('bcl_activity_pastActivity',{'id': activity.id, "id2" : 1}) }}'">more</button>
			</article>
		</div>
	{% endfor %}
	<div class="row col-xs-2 col-md-offset-5 shop-pagination">
        {% if nbPages != 0 %}
			<ul class="pagination">
				<li><a href="#" class="page-selector">&laquo;</a></li>
                {% for p in range(1, nbPages) %}
					<li class="{% if p == page %}active{% endif %}">
						<a href="{{ path('bcl_activity_pastActivities', {'page': p}) }}" class="page-selector">{{ p }}</a>
					</li>
                {% endfor %}
				<li><a href="#"	class="page-selector">&raquo;</a></li>
			</ul>
        {% endif %}
	</div>
{% endblock %}