{% extends "BCLActivityBundle::activityBundle.html.twig" %}
{% block title %}
    New Proposal
{% endblock %}
{% block activity %}
    <article>
        <div  class="col-md-12">
            <h1 class="col-md-10 col-md-offset-1 proposalform-title">Proposal Form</h1>
            {{ form_start(form, {'attr': {'class': 'form-group'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

                    <div class=" row col-md-6 col-md-offset-3 proposalform-part2">
                        <div>
                            {{ form_label(form.nameActivityIdea, "Activity Name") }}
                            {{ form_widget(form.nameActivityIdea, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div>
                            {{ form_label(form.descriptionActivityIdea, "Description") }}
                            {{ form_widget(form.descriptionActivityIdea, {'attr': {'class': 'form-control', 'rows': '6'}}) }}
                        </div>
                        <div>
                            <label class="custom-file" >
                                {{ form_label(form.urlPictureActivityIdea, "Url of the activity Picture") }}
                                {{ form_widget(form.urlPictureActivityIdea, {'attr': {'class' : 'custom-file-input'}}) }}
                                <span class="custom-file-control"></span>
                            </label>
                        </div>
                        <div>
                            {{ form_widget(form.validate, {'attr': {'class': 'btn btn-primary' }}) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
                <div class="row col-md-12 back-button-block2">
                    <div class="col-md-4">
                        <a href="{{ path('bcl_activity_proposals',{'page':1}) }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Back to Proposal
                        </a>
                    </div>
                </div>
    </article>

{% endblock %}