

{% extends "::layout.html.twig" %}

{% block title %}
 	Home
{% endblock %}

{% block body %}

	<div class="row">
		<section class="jumbotron col-md-7 col-md-offset-1 essai">
				<article>
					<h1 class="home-title">Welcome <br>to BDE WebSite<br> of Exia Cesi Lyon</h1>
					<img src="https://images.alphacoders.com/555/555941.jpg" class="img-responsive img-home" alt="BDE Members">
					This website allow Cesi students, students council members and tutor to have access to the different
					activity proposed by the Cesi and to buy Cesi items.
				</article>
		</section>
	{#
		<aside class="jumbotron col-md-2 col-md-offset-1">
			<div class="aside-block">
				<h3 class="aside-title">Future Events</h3>
				<ul>
					{% for a in listFE %}
						<li>{{ a.name }} - {{ a.date }}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="aside-block">
				<h3 class="aside-title">Last Events</h3>
				<ul>
					{% for a in listLE %}
						<li>{{ a.name }} - {{ a.date }}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="aside-block">
				<h3 class="aside-title">New goodies</h3>
				<ul>
					{% for a in listNG %}
						<li>{{ a.name }} - {{ a.date }}</li>
					{% endfor %}
				</ul>
			</div>
		</aside>
	#}
</div>

{% endblock %}